.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-group {
    display: flex;
}

.table-container {
    background-color: #FFF;
    width: 75%;
}

th,td {
    padding: 10px 40px;
}