.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-group {
    display: flex;
}

.table-container {
    background-color: #FFF;
    width: 75%;
}

.table-header {
    padding:10px 50px;
}

.table-detail {
    padding:10px 50px;
}

