.content {
    width:100%;
    display: flex;
    justify-content: center;
}

.attendance-table-container {
    width:100%;
    border-collapse:collapse;
}

.attendance-table {
    width:80%;
    background-color:#FFFFFF;
}

