.container {
    width: 100%;
    height: 50vw;
    background-color: #F0EFF2;
}
.main {
    width: 100%;
}

.inner-title {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20%;
}

.content {
    width: 60%;
    background-color: #FFF;
    border-radius:3vh;
    margin:0 auto;
}

th, td {
    padding: 20px 105px 15px 30px;
    border-bottom: 1px solid #F0EFF2;
}

.header {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.header-title {
    width: 70%;
    background-color: #000;
}

.header-nav {
    width: 30%;
    background-color: #000;
}

.header-nav-list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.header-nav-item {
    color: #FFF;
    list-style: none;
}

.logout-button {
    color:#FFF;
}

.register-button {
    width: 100%;
    color: #FFF;
    background-color: #000;
}