.total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width:100%;
    display: flex;
}

.month-select-container {
    width:80%;
    margin-bottom:40px;
    background-color: #FFF;
}

.month-select-bar {
    text-align: center;
}

.previous {
    width:10%;
}

.later {
    width:10%;
}

.attendance-table-container {
    background-color: #FFF;
    width: 75%;
}

.attendance-header {
    padding:10px 30px;
}

.attendance-detail {
    padding:10px 30px;
}