.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-group {

}

.comment-upper {
    
}

.comment-bottom {

}

.verification {

}

.resend {

}